<h1>HR-Mitra<h1>
<div class="d-flex flex-column">
  <%= link_to 'About Us' , '/about', style: 'color:green;' %>
  <%= link_to 'Contact US' , '/contact_us', style: 'color:green;'%>
  <%= link_to 'Privacy policy' , '/privacy_policy',style: 'color:green;' %>
  <%= link_to 'Terms Conditions' , '/terms_conditions',style: 'color:green;' %>
</div>

